@model TransactionDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
            </dt>*@
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
            </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
    <div class="row">
        <select asp-for="PaymentMethod" onchange="checkPaymentMethod(@Model.Id)" class="form-control" asp-items="ViewBag.PaymentTypeList"></select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionLines.First().Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transactionLine in Model.TransactionLines)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => transactionLine.ProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactionLine.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactionLine.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactionLine.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => transactionLine.TotalPrice)
                    </td>
                    @* <td>
                        <a asp-controller="TransactionsController" asp-action="Delete" asp-route-id="@comment.ID">Delete</a>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="AddTransactionLine" asp-route-id="@Model?.Id">Add New Line</a>
    <a asp-action="Index">Back to List</a>
</div>
